<div class="liens text-center">
    <div class="icones">
        <a href="https://twitter.com/KevenImbeault" class="twitter"><i class="fab fa-twitter-square fa-3x"></i></a>
        <a href="https://www.instagram.com/kevenimbeault/" class="instagram"><i class="fab fa-instagram fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/keven-imbeault-180665111" class="linkedin"><i class="fab fa-linkedin fa-3x"></i></a>
        <a href=" https://github.com/KevenImbeault" class="github"><i class="fab fa-github-square fa-3x"></i></a>
        <a href="https://www.facebook.com/imbeault.keven" class="facebook"><i class="fab fa-facebook-square fa-3x"></i></a>
        <a href="mailto:contact@kevenimbeault.ca" class="mail"><i class="fas fa-envelope-square fa-3x"></i></a>
    </div>

    <div>
        <p class="ligne"></p>
        <p>Pour me contacter : imbeault.keven@gmail.com</p>
        <p>Blog propulsé par <a href="https://buttercms.com"><img class="buttercms_logo" src="https://cdn.buttercms.com/RyJ7UhcVTCRqrCFXwgCo"></a></p>
    </div>
</div>