<div class="liens text-center">
    <div class="icones">
        <a href="https://twitter.com/KevenImbeault"><i class="fab fa-twitter-square fa-4x"></i></a>
        <a href="https://www.instagram.com/kevenimbeault/"><i class="fab fa-instagram fa-4x"></i></a>
        <a href="https://www.linkedin.com/in/keven-imbeault-180665111"><i class="fab fa-linkedin fa-4x"></i></a>
        <a href=" https://github.com/KevenImbeault"><i class="fab fa-github-square fa-4x"></i></a>
        <a href="https://www.facebook.com/imbeault.keven"><i class="fab fa-facebook-square fa-4x"></i></a>
        <a href="mailto:contact@kevenimbeault.ca"><i class="fas fa-envelope-square fa-4x"></i></a>
    </div>

    <div>
        <p class="ligne"></p>
        <p>Pour me contacter : imbeault.keven@gmail.com</p>
    </div>
</div>