<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Keven Imbeault</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a id="logiciels" class="nav-link" href="/developpement-logiciel">Logiciels</a>
        </li>
        <!-- TODO Créer une page pour montrer mes chiffres
        <li class="nav-item">
            <a id="competences" class="nav-link" href="/plateformes">Plateformes</a>
        </li>
        -->
      </ul>
    </div>

</nav>