<div class="container">
    <div class="row">
        <div class="col-12 projet">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="projet_titre">Site web NodeJS</p>
                    <p class="projet_description">
                        Ce projet est le code source de la version courante de mon site web !
                    </p>
                    <p class="projet_langages"><b>EJS, CSS, JavaScript, Bootstrap, NodeJS, Express</b></p>
                    <a target="_blank" href="https://github.com/KevenImbeault/site-web-nodejs">Voir sur GitHub</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 projet">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="projet_titre">KevenImbeault.github.io</p>
                    <p class="projet_description">
                        Ce projet est la version statique de mon site web.
                    </p>
                    <p class="projet_langages"><b>HTML, CSS, JavaScript, Bootstrap</b></p>
                    <a target="_blank" href="https://github.com/KevenImbeault/kevenimbeault.github.io">Voir sur GitHub</a>
                </div>
            </div>
        </div>
    </div>

</div>