<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="pages text-center">
  <p class="titre_pages">Compétences</p>

  <div class="container">
    <div class="row">
      <div class="col-sm grille">
        <p class="grille-titre">WEB</p>
        <p>Expérience avec NodeJs, express, ejs, javascript et css en créant ce site web.</p>


      </div>
      <div class="col-sm grille">
        <p class="grille-titre">C</p>
        <p>Expérience avec le language en suivant le cours CS50 en ligne sur EDX</p>
        <a href="#">Application calcul de taxes</a>
      </div>

      <!--
      TODO Ajouter le prochain language
      <div class="col-sm grille">
        <p class="grille-titre">C++</p>
        <p>Expérience avec le language en suivant le cours CS50 en ligne sur EDX</p>
        <a href="#">Application calcul de taxes</a>
      </div>-->
    </div>

  </div>

</div>

<% include partials/footer %>
</body>
<% include partials/script %>
</html>