<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="acceuil text-center">
  <p class="titre">Keven Imbeault</p>

  <i class="fas fa-arrow-down fa-5x arrow"></i>
</div>

<div class="a_propos" id="a_propos">
  <p>Bienvenue sur mon site ! Je suis un programmeur autodidacte depuis quelques
    années ainsi qu’un étudiant en Techniques de comptabilité et de gestion au
    Collège d’Alma. J’ai créé ce site dans le but de pouvoir partager mes divers
    projets ainsi que me permettre d’expliquer en plus grand détail chacun d’eux. </p>
</div>
<% include partials/footer %>
</body>
<% include partials/script %>
<% include partials/script %>
</html>