<!DOCTYPE html>
<html lang="fr">
<head>
  <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="Accueil text-center">
  <p class="Accueil_Titre">Keven Imbeault</p>

  <i class="fas fa-arrow-down fa-5x Fleche"></i>
</div>

<div class="Panneau_Pale_Complet" id="a_propos">
  <p>
    Bienvenue sur mon site ! Au cours des dernières années, j’ai appris par moi-même divers langages de programmation
    (C, C++, Python, Java, JavaScript, HTML et CSS) pour trouver celui que je préfère et qui me permet de créer les projets
    auxquels je pense ! En ce moment, je fais surtout du développement web (afin de créer ce site) en plus d’apprendre
    Python afin de peut-être commencer à faire de l’intelligence artificielle et/ou « machine learning ».
  </p>

  <p>
    Je suis également un étudiant au cégep, j’ai commencé dans le programme Tremplin DEC en 2016 afin d’obtenir mes
    « maths fortes », j’ai ensuite rejoint le programme de Techniques de comptabilité et de gestion que je quitte après
    3 sessions afin d’aller en Techniques de l’informatique à partir de la session d’hiver 2019.
  </p>
  <p>
    J’ai créé ce site dans le but de pouvoir partager mes divers projets ainsi que me permettre d’expliquer
    en plus grand détail chacun d’eux.
  </p>
</div>
<% include partials/footer %>
</body>
<% include partials/script %>
</html>