<!DOCTYPE html>
<html lang="fr">
<head>
    <% include ../../partials/head %>
</head>
<body>
<% include ../../partials/menu %>
<div class="pages text-center">
    <p class="titre_pages">Développement logiciel</p>

    <div class="container">
        <div class="row">
            <div class="col-12 projet_github">
                <div class="row">
                    <div class="col-4">
                        <img src="images_projets/IdleProject.png">
                    </div>

                    <div class="col-8">
                        <p>titre</p>
                        <p>description</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 projet_github">
                <div class="row">
                    <div class="col-2">
                        <img src="https://via.placeholder.com/90">
                    </div>

                    <div class="col-10">
                        <p>titre</p>
                        <p>description</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<div class="competences">

</div>
<% include ../../partials/footer %>
</body>
<% include ../../partials/script %>
</html>