<% var rootpath = '../' %>

<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include(rootpath + 'partials/head'); %>
</head>
<body>
<%- include(rootpath + 'partials/menu'); %>
<div class="pages text-center">
    <p class="titre_pages">Développement logiciel</p>

    <% include ../partials/projets %>
</div>
<div class="competences">
    <p class="titre_pages text-center">Compétences</p>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <h4 class="text-center">WEB</h4>
                <p class="text-justify">
                    J'ai apris a utilisé diverses technologies tels que NodeJs, Bootstrap, ainsi que des languages tels
                    que CSS, HTML, EJS, JavaScript, en créant le site sur lequel vous vous trouvez ainsi que la version précédente.
                </p>
            </div>
            <!--<div class="col-md">
                <h4 class="text-center">Python</h4>
                <p class="text-justify">Lorem Ipsum</p>
            </div>-->
        </div>
    </div>
</div>
<%- include(rootpath + 'partials/footer'); %>
</body>
<%- include(rootpath + 'partials/script'); %>
</html>